body{
    background-color: #8d94cd;
    
}
label, input, select, textarea{
    display: block ;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    
}
.roboto-thin {
   font-family: "Roboto", sans-serif;
 }

 form{
    width: 500px;
    margin: auto;
    background: #8d94cd;
    padding: 40px;
    border-radius: 70px;
    color: rgb(68, 55, 110);
 }
 label{
    padding: 0;
    margin: 0;
    width: 100% ;
    font-size: 18px;
 }
 .emlinha{
    display: inline;
    width: 10%;
    font-size: 16px;
 }
 .medidas{
    display: inline;
    width: 35%;
 }
 input[type='checkbox'], input[type='radio']{
   margin-right: 0px;
   margin-left: 15px;
  
}
input:focus, select:focus, textarea:focus{
   outline: none;
   border: solid 1px #3e375f;
  
}
img{
    width: 33%;
    height: 40%;
    border-radius: 50%;
    
}
 #enviar{
   width: 100%;
   border: 2px solid #4c3e90;
   background-color: #d3d4e2;
   color: #3c3961;
   font-weight: bold;
   cursor: pointer;
   padding: 15px;
 }
 #enviar:hover{
  background-color: #423670;
  color: #ffffff;
transition:all linear 0.3;
 }
 